Repository gardener/etcd-wrapper, pull requests merged in 2025-05, with the labels that each got.

#52 Configurable ports
  cmd/etcd.go
  docs/deployment/configuring-etcd-wrapper.md
  internal/app/readycheck.go
  internal/types/config.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/xs

#54 Check for non-existent etcd data directory when trying to fix permissions for its files
  internal/app/app.go
  internal/bootstrap/bootstrap.go
  internal/bootstrap/bootstrap_test.go
Labels: area/control-plane, area/security, kind/bug, reviewed/lgtm, needs/ok-to-test, size/m

#55 Change permissions of files in etcd data directory to `0600`
  internal/app/app.go
  internal/bootstrap/bootstrap_test.go
Labels: area/compliance, area/security, kind/enhancement, kind/task, reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
